@model MiniLojaVirtual.Web.ViewModels.Products.ProductItemViewModel


@{
	ViewData["Title"] = $"Produto {Model.Name}";
}

<div>
	<h4>@ViewData["Title"]</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Vendedor
		</dt>
		<dd class="col-sm-10">
			@Model.SellerName
		</dd>
		<dt class="col-sm-2">
			Categoria
		</dt>
		<dd class="col-sm-10">
			@Model.CategoryName
		</dd>
		<dt class="col-sm-2">
			Produto
		</dt>
		<dd class="col-sm-10">
			@Model.Name
		</dd>
		<dt class="col-sm-2">
			Descrição
		</dt>
		<dd class="col-sm-10">
			@Model.Description
		</dd>
		<dt class="col-sm-2">
			Preço
		</dt>
		<dd class="col-sm-10">
			@Model.Price
		</dd>
		<dt class="col-sm-2">
			Estoque
		</dt>
		<dd class="col-sm-10">
			@Model.Stock
		</dd>
		<dt class="col-sm-2">
			Foto
		</dt>
		<dd class="col-sm-10">
			@if (!string.IsNullOrEmpty(Model.ImageUrl))
			{
				<img src="@Model.ImageUrl" alt="@Model.Name" style="max-width: 50px; max-height: 50px;"/>
			}
			else
			{
				<span class="text-muted">Sem imagem</span>
			}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-code="@Model.Code" class="btn btn-primary">Alterar</a>
	<a asp-action="Index" class="btn btn-outline-info">Voltar</a>
</div>
